@use "variables";

%u-space-between {
  display: flex;
  justify-content: space-between;
}

.p-line-chart {
  margin: variables.$margin-base-horizontal;
  max-width: 50rem;
  padding: variables.$padding-base-vertical variables.$padding-base-horizontal;
  .p-line-chart__box {
    @extend %u-space-between;
    border-radius: variables.$border-radius-large;
    .p-line-chart--left {
      background: variables.$success-color;
      padding: variables.$padding-xs-vertical variables.$padding-xs-horizontal;
      min-width: 50px;
    }
    .p-line-chart--right {
      background: variables.$danger-color;
      padding: variables.$padding-xs-vertical variables.$padding-xs-horizontal;
      min-width: 50px;
    }
  }

  .p-line-chart--legend {
    @extend %u-space-between;
  }
}
