# Config files are not tracked in Git and must be placed manually in each
# app environment (e.g. development, staging, production).

# General
PIPENV_VENV_IN_PROJECT=1
PYTHONUNBUFFERED=0
DEBUG=True
TZ="Europe/London"
SECRET_KEY="dev_key"
ENV="development"
FRONTEND_DOMAIN="http://localhost:3000"
BACKEND_DOMAIN="http://localhost:8008"
# 1 year token expiration
ACCESS_TOKEN_EXPIRE_MINUTES="525600"
# Database
# change to db for prod testing
MONGO_HOSTNAME="localhost"
# change to 27017 for prod testing
MONGO_PORT="27017"
MONGO_AUTH_DATABASE=""
MONGO_AUTH_USERNAME=""
MONGO_AUTH_PASSWORD=""
MONGO_APP_DATABASE=""

# Binance keys
BINANCE_KEY=""
BINANCE_SECRET=""

# KuCoin keys
KUCOIN_KEY=""
KUCOIN_SECRET=""
KUCOIN_PASSPHRASE=""

# Telegram API
TELEGRAM_BOT_KEY=""
TELEGRAM_USER_ID=
