##
#
# PYTHON APPS
#
##

.DS_Store
*.pyc
api/main/config/*.cfg
.mypy_cache
env
##
#
# REACT APPS
#
##

node_modules/
.dockerenv
coverage/
build/
mongo_data
mongo_data_old
mongo_db

.DS_Store
.env.local
.env.prod
.env.development.local
.env.test.local
/.env
.vscode/settings.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
