##
#
# PYTHON APPS
#
##

.DS_Store
*.pyc
api/main/config/*.cfg
.mypy_cache

##
#
# REACT APPS
#
##

node_modules/
.dockerenv
coverage/
build/
mongo_data

.DS_Store
.env.local
.env.prod
.env.development.local
.env.test.local
.env.production.local
web/.env.production
/.env
.vscode/settings.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
