networks:
  kafka_network:
    driver: bridge

services:
  api_db:
    image: postgres
    container_name: binbot_api_db
    restart: on-failure
    networks:
      - kafka_network
    volumes:
      - pg_data:/var/lib/postgresql
    env_file:
      - .env
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 30s

  data_db:
    image: mongo:latest
    container_name: binbot_data_db
    restart: on-failure
    networks:
      - kafka_network
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_AUTH_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_AUTH_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_APP_DATABASE}
    ports:
      - 27018:27017
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "--quiet",
          "127.0.0.1/test",
          "--eval",
          "'quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)'",
        ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: binquant_kafka
    hostname: kafka
    restart: always
    networks:
      - kafka_network
    ports:
      - "9092:9092"     # host can reach broker
      - "29092:29092"   # extra port for host-only listener
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_NODE_ID: 1
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_PROCESS_ROLES: "broker,controller"

      # General defaults
      KAFKA_NUM_PARTITIONS: 10
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_LOG_RETENTION_HOURS: 24
      ALLOW_PLAINTEXT_LISTENER: "yes"

      # Cluster ID
      CLUSTER_ID: "hTzWlZq0S--NoF0U9H7uQA"

      # Single-broker safe replication configs
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: "6"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
      KAFKA_DEFAULT_REPLICATION_FACTOR: "1"
      KAFKA_MIN_INSYNC_REPLICAS: "1"

    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s

  # kafka_producer:
  #   build: ./binquant
  #   image: binquant_producer
  #   container_name: binquant_producer
  #   restart: on-failure
  #   networks:
  #     - kafka_network
  #   depends_on:
  #     - kafka
  #     - api
  #   env_file:
  #     - .env
  #   environment:
  #     - KAFKA_BOOTSTRAP_SERVERS=http://binquant_kafka:9092
  #     - FLASK_DOMAIN=http://binbot:8008
  #     # - KAFKA_TOPIC=${KAFKA_TOPIC}
  #   volumes:
  #       - /var/run/docker.sock:/var/run/docker.sock
  #   command: ["python3", "-m", "producer"]

  # kafka_consumer:
  #   build: ./binquant
  #   image: binquant_consumer
  #   container_name: binquant_consumer
  #   restart: on-failure
  #   networks:
  #     - kafka_network
  #   depends_on:
  #     - kafka
  #     - api
  #   env_file:
  #     - .env
  #   command: ["python3", "-m", "consumer"]

  api:
    build: .
    networks:
      - kafka_network
    restart: on-failure
    container_name: binbot
    depends_on:
      api_db:
        condition: service_healthy
        restart: true
      data_db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - MONGO_HOSTNAME=localhost
      - POSTGRES_HOSTNAME=api_db
    ports:
      - 8007:80
      - 8008:8006
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8008"]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8008/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  api-nginx:
    image: nginx:alpine
    networks:
      - kafka_network
    restart: on-failure
    container_name: binbot_nginx
    depends_on:
      - api
    env_file:
      - .env

  # streaming:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.streaming
  #   image: binbot_streaming
  #   env_file:
  #     - .env
  #   restart: on-failure
  #   container_name: binbot_streaming
  #   depends_on:
  #     - api
  #     - db

  # crobjobs:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.cronjobs
  #   image: binbot_cronjobs
  #   env_file:
  #     - .env
  #   restart: on-failure
  #   container_name: binbot_cronjobs
  #   depends_on:
  #     # - api
  #     - db

  # grafana:
  #   build:
  #     context: grafana-mongodb-docker
  #     dockerfile: Dockerfile
  #   container_name: binquant_grafana
  #   networks:
  #     - kafka_network
  #   restart: on-failure
  #   volumes:
  #    - ./grafana-mongodb-docker/data:/var/lib/grafana
  #    - /var/lib/grafana/plugins
  #   ports:
  #    - 4000:3000
  #    - 3333:3333

volumes:
  mongo_data:
  pg_data:
