[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"
isort = "*"

[packages]
flask = "*"
flask_cors = "*"
pymongo = "*"
python-jose = "*"
passlib = "*"
pytz = "*"
pandas = "*"
requests = "*"
websocket_client = "*"
apscheduler = "*"
gunicorn = "*"
schedule = "*"
pyopenssl="*"
gevent="*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
