[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "2.10.2"
flake8 = "*"
autopep8 = "*"
isort = "5.9.2"

[packages]
flask = "*"
flask_cors = "*"
pymongo = "*"
python-jose = "*"
passlib = "*"
pytz = "*"
pandas = "1.3.2"
requests = "*"
apscheduler = "*"
gunicorn = "*"
websocket-client = "1.2.1"
flask-mongoengine = "*"
scipy = "1.7.0"
python-telegram-bot = "13.7"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
