[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[packages]
flask = "*"
flask_cors = "*"
pymongo = "3.12.3"
python-jose = "*"
passlib = "*"
pandas = "1.3.5"
requests = "*"
apscheduler = "*"
gunicorn = "*"
websocket-client = "1.3.1"
flask-mongoengine = "*"
scipy = "1.7.3"
python-telegram-bot = "13.9"
python-dotenv = "*"
gevent = "*"
flask-httpauth = "*"

[dev-packages]
autopep8 = "*"
isort = "5.9.2"
black = "*"

[requires]
python_version = "3.9.5"

[pipenv]
allow_prereleases = false
