.DS_Store
.env.local
.env.prod
.env.development.local
.env.test.local
/.env
.vscode/settings.json
venv/

##
#
# PYTHON APPS
#
##

.DS_Store
*.pyc
api/main/config/*.cfg
.mypy_cache
env
mongo_data
mongo_data.old
mongo_db
db.dump
__pycache__

# Fix vscode linting bug
.envFile

##
#
# REACT APPS
#
##

node_modules/
.dockerenv
coverage/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web/public/charting_library/*.html

##
#
# Jekyll docs
#
##
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
