interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.binance.com/api/v3/ticker/24hr?type=FULL
  response:
    body:
      string: '[{"symbol":"ETHBTC","priceChange":"-0.00030000","priceChangePercent":"-0.849","weightedAvgPrice":"0.03528356","prevClosePrice":"0.03536000","lastPrice":"0.03505000","lastQty":"0.62690000","bidPrice":"0.03505000","bidQty":"15.84840000","askPrice":"0.03506000","askQty":"36.19410000","openPrice":"0.03535000","highPrice":"0.03561000","lowPrice":"0.03490000","volume":"15640.13090000","quoteVolume":"551.83956892","openTime":1761182080501,"closeTime":1761268480501,"firstId":514250442,"lastId":514318158,"count":67717},{"symbol":"LTCBTC","priceChange":"-0.00000100","priceChangePercent":"-0.117","weightedAvgPrice":"0.00085329","prevClosePrice":"0.00085500","lastPrice":"0.00085400","lastQty":"1.63700000","bidPrice":"0.00085400","bidQty":"275.96500000","askPrice":"0.00085500","askQty":"251.72600000","openPrice":"0.00085500","highPrice":"0.00085900","lowPrice":"0.00084700","volume":"6383.78300000","quoteVolume":"5.44722268","openTime":1761182078503,"closeTime":1761268478503,"firstId":106091093,"lastId":1060[...]
