interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.binance.com/api/v3/uiKlines?symbol=BTCUSDC&interval=1d&limit=500
  response:
    body:
      string: '[[1718236800000,"68244.18000000","68447.24000000","66247.23000000","66748.71000000","1404.63872000",1718323199999,"94488467.27902030",177702,"727.48475000","48913838.64991030","0"],[1718323200000,"66748.71000000","67328.70000000","65032.00000000","66008.00000000","1481.57377000",1718409599999,"98327544.27351590",333733,"792.83660000","52590776.47050200","0"],[1718409600000,"66004.01000000","66435.99000000","65824.00000000","66184.14000000","388.85911000",1718495999999,"25728364.51144500",65048[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/charts/btc-correlation?symbol=BTCUSDC
  response:
    body:
      string: '{"data":{"correlation":0.872369,"24hr_price_change":0.277},"message":"Successfully retrieved BTC correlation data.","error":0}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
