interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.binance.com/api/v3/time
  response:
    body:
      string: '{"serverTime":1761268113809}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '46'
      x-mbx-used-weight-1m:
      - '46'
      x-mbx-uuid:
      - 30ebccba-b807-4eee-99d3-90976b521661
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.binance.com/sapi/v1/asset/wallet/balance?recvWindow=9000&timestamp=1761268113809&signature=42c58e5f1042fee30421e9cf11d67971ef2410c9933ae96ba31ea113d9b5ce89
  response:
    body:
      string: "[{\"activate\":true,\"balance\":\"0.00085282\",\"walletName\":\"Spot\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Funding\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Cross
        Margin\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Isolated Margin\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"USD\u24C8-M
        Futures\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"COIN-M Futures\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Earn\"},{\"activate\":false,\"balance\":\"0\",\"walletName\":\"Options\"},{\"activate\":false,\"balance\":\"0\",\"walletName\":\"Trading
        Bots\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Copy Trading\"}]"
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - default-src 'self'
      X-SAPI-USED-IP-WEIGHT-1M:
      - '2'
      X-WebKit-CSP:
      - default-src 'self'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api1.binance.com/api/v3/account?omitZeroBalances=true&recvWindow=9000&timestamp=1761268115354&signature=f82082fba7fe582cadccf33182d289b81bddb1d902b8ad9aa9c4b636be0e1b9d
  response:
    body:
      string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"commissionRates":{"maker":"0.00100000","taker":"0.00100000","buyer":"0.00000000","seller":"0.00000000"},"canTrade":true,"canWithdraw":true,"canDeposit":true,"brokered":false,"requireSelfTradePrevention":false,"preventSor":false,"updateTime":1761264531957,"accountType":"SPOT","balances":[{"asset":"BTC","free":"0.00000996","locked":"0.00000000"},{"asset":"BNB","free":"0.01970551","locked":"0.00000000"},{"asset":"USDC","free":"9.34323824","locked":"0.00000000"},{"asset":"TRY","free":"78.11419767","locked":"0.00000000"},{"asset":"EGLD","free":"0.00850000","locked":"0.00000000"},{"asset":"BAKE","free":"0.00680000","locked":"0.00000000"},{"asset":"LPT","free":"3.75000000","locked":"0.00000000"},{"asset":"NFT","free":"31205.975795","locked":"0.000000"},{"asset":"1000SATS","free":"0.18","locked":"0.00"},{"asset":"BMT","free":"472.20000000","locked":"0.00000000"},{"asset":"ZKC","free":"84.20000000","locked":"0.00000000"}],"permissions":["LEVERAGED","TRD_GRP_002","TRD_GRP_009"],"uid":28078583}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '67'
      x-mbx-used-weight-1m:
      - '67'
      x-mbx-uuid:
      - 4d777c24-ddb9-4c91-a7c3-bc5fbc8251cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.binance.com/api/v3/ticker/price?symbol=BTCUSDC
  response:
    body:
      string: '{"symbol":"BTCUSDC","price":"110660.11000000"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '69'
      x-mbx-used-weight-1m:
      - '69'
      x-mbx-uuid:
      - fc1a029f-7063-4d92-a0e2-1c42439c4542
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/account/store-balance
  response:
    body:
      string: '{"message":"Successfully stored balance.","error":0}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
