interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data-api.binance.vision/api/v3/time
  response:
    body:
      string: '{"serverTime":1750369477587}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '105'
      x-mbx-used-weight-1m:
      - '105'
      x-mbx-uuid:
      - 7a49a9bd-608f-4322-96ee-51e07f9da270
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-MBX-APIKEY:
      - xxx
    method: GET
    uri: https://api1.binance.com/api/v3/account?omitZeroBalances=true&recvWindow=9000&timestamp=1750369477587&signature=b0bdae6e3ba59011334dcfb066b7cfa25cc826e74dfb0d0008003c5b214c89a3
  response:
    body:
      string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"commissionRates":{"maker":"0.00100000","taker":"0.00100000","buyer":"0.00000000","seller":"0.00000000"},"canTrade":true,"canWithdraw":true,"canDeposit":true,"brokered":false,"requireSelfTradePrevention":false,"preventSor":false,"updateTime":1750114477837,"accountType":"SPOT","balances":[{"asset":"BNB","free":"0.00039616","locked":"0.00000000"},{"asset":"ADA","free":"39.00000000","locked":"0.00000000"},{"asset":"USDC","free":"1.42643660","locked":"0.00000000"},{"asset":"NFT","free":"31205.975795","locked":"0.000000"},{"asset":"XEC","free":"0.01","locked":"0.00"},{"asset":"APT","free":"0.02976339","locked":"0.00000000"},{"asset":"VELODROME","free":"0.06417500","locked":"0.00000000"},{"asset":"LAYER","free":"0.19851059","locked":"0.00000000"}],"permissions":["LEVERAGED","TRD_GRP_002","TRD_GRP_009"],"uid":28078583}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '125'
      x-mbx-used-weight-1m:
      - '125'
      x-mbx-uuid:
      - a12b62f3-bc4c-4a0c-80cc-5dea6b3d1cf3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.binance.com/api/v3/depth?symbol=ADAUSDC
  response:
    body:
      string: '{"lastUpdateId":1861652987,"bids":[["0.59950000","5327.50000000"],["0.59940000","1950.20000000"],["0.59930000","9180.90000000"],["0.59920000","10874.80000000"],["0.59910000","15417.50000000"],["0.59900000","19750.80000000"],["0.59890000","1150.80000000"],["0.59880000","5147.90000000"],["0.59870000","4557.20000000"],["0.59860000","8591.20000000"],["0.59850000","16229.20000000"],["0.59840000","7126.30000000"],["0.59830000","15372.60000000"],["0.59820000","13273.20000000"],["0.59810000","26152.60000000"],["0.59800000","2159.7000000[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-MBX-APIKEY:
      - xxx
    method: POST
    uri: https://api.binance.com/api/v3/order?symbol=ADAUSDC&side=SELL&type=LIMIT&timeInForce=FOK&price=0.5995&quantity=39.0&recvWindow=9000&timestamp=1750369480367&signature=5eea69af4e6336b1a65c2d3e93d5f9a3f739107f441c8501c8ba04994d6d5934
  response:
    body:
      string: '{"symbol":"ADAUSDC","orderId":991514179,"orderListId":-1,"clientOrderId":"HkHFuYWKBaFCsigZ3Huktt","transactTime":1750369480679,"price":"0.59950000","origQty":"39.00000000","executedQty":"39.00000000","origQuoteOrderQty":"0.00000000","cummulativeQuoteQty":"23.38050000","status":"FILLED","timeInForce":"FOK","type":"LIMIT","side":"SELL","workingTime":1750369480679,"fills":[{"price":"0.59950000","qty":"39.00000000","commission":"0.00002589","commissionAsset":"BNB","tradeId":25558898}],"selfTradePreventionMode":"EXPIRE_MAKER"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-order-count-10s:
      - '1'
      x-mbx-order-count-1d:
      - '1'
      x-mbx-used-weight:
      - '132'
      x-mbx-used-weight-1m:
      - '132'
      x-mbx-uuid:
      - d4c77797-a9d6-476a-aa78-489c87c4ef39
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: http://testserver/bot/deactivate/ebda4958-837c-4544-bf97-9bf449698152
  response:
    body:
      string: '{"message":"Successfully triggered panic sell! Bot deactivated.","error":0,"data":{"pair":"ADAUSDC","fiat":"USDC","base_order_size":25.0,"candlestick_interval":"15m","close_condition":"dynamic_trailling","cooldown":360,"created_at":1750114470468.528,"updated_at":1750114470468.529,"dynamic_trailling":true,"logs":["[2025-06-17
        00:54:38] Succesful bots autotrade, opened with ADAUSDC!","Panic sell triggered.
        All active orders closed"],"mode":"manual","name":"market_domination_reversal_2025-06-17T00:54","status":"completed","stop_loss":3.0,"margin_short_reversal":true,"take_profit":2.3,"trailling":true,"trailling_deviation":2.6,"trailling_profit":2.2,"strategy":"long","id":"ebda4958-837c-4544-bf97-9bf449698152","deal":{"current_price":0.6443,"take_profit_price":0.6673,"trailling_stop_loss_price":0.0,"trailling_profit_price":0.6591,"stop_loss_price":0.6249,"total_interests":0.0,"total_commissions":0.0,"margin_loan_id":0,"margin_repay_id":0,"opening_price":0.6443,"opening_qty":39.0,"opening_timestamp":1750114477837,"closing_price":0.5995,"closing_qty":39.0,"closing_timestamp":1750369480679},"orders":[{"order_type":"LIMIT","time_in_force":"FOK","timestamp":1750114477837,"order_id":985837777,"order_side":"BUY","pair":"ADAUSDC","qty":39.0,"status":"FILLED","price":0.6443,"deal_type":"base_order"},{"order_type":"LIMIT","time_in_force":"FOK","timestamp":1750369480679,"order_id":991514179,"order_side":"SELL","pair":"ADAUSDC","qty":39.0,"status":"FILLED","price":0.5995,"deal_type":"take_profit"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
