interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.binance.com/api/v3/time
  response:
    body:
      string: '{"serverTime":1761268111428}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '25'
      x-mbx-used-weight-1m:
      - '25'
      x-mbx-uuid:
      - 2958c222-3edd-458d-bca8-d4a65547d5b4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api1.binance.com/api/v3/account?omitZeroBalances=true&recvWindow=9000&timestamp=1761268111428&signature=f77cea914e2afd798cc5784a6981a4c4c9e4d0612b72c1b6c1d9f50aa6b629af
  response:
    body:
      string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"commissionRates":{"maker":"0.00100000","taker":"0.00100000","buyer":"0.00000000","seller":"0.00000000"},"canTrade":true,"canWithdraw":true,"canDeposit":true,"brokered":false,"requireSelfTradePrevention":false,"preventSor":false,"updateTime":1761264531957,"accountType":"SPOT","balances":[{"asset":"BTC","free":"0.00000996","locked":"0.00000000"},{"asset":"BNB","free":"0.01970551","locked":"0.00000000"},{"asset":"USDC","free":"9.34323824","locked":"0.00000000"},{"asset":"TRY","free":"78.11419767","locked":"0.00000000"},{"asset":"EGLD","free":"0.00850000","locked":"0.00000000"},{"asset":"BAKE","free":"0.00680000","locked":"0.00000000"},{"asset":"LPT","free":"3.75000000","locked":"0.00000000"},{"asset":"NFT","free":"31205.975795","locked":"0.000000"},{"asset":"1000SATS","free":"0.18","locked":"0.00"},{"asset":"BMT","free":"472.20000000","locked":"0.00000000"},{"asset":"ZKC","free":"84.20000000","locked":"0.00000000"}],"permissions":["LEVERAGED","TRD_GRP_002","TRD_GRP_009"],"uid":28078583}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '45'
      x-mbx-used-weight-1m:
      - '45'
      x-mbx-uuid:
      - 43bb9dde-d15c-4eef-bee7-63f112ec4411
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/account/fiat/available
  response:
    body:
      string: '{"data":9.34323824}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
