interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.binance.com/api/v3/time
  response:
    body:
      string: '{"serverTime":1761268108694}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '22'
      x-mbx-used-weight-1m:
      - '22'
      x-mbx-uuid:
      - a6d168ee-1202-4dd6-96eb-bbe3d62c1d0a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.binance.com/sapi/v1/asset/wallet/balance?recvWindow=9000&timestamp=1761268108694&signature=04433e509c0f034f1492651e82cf09aaf9a8e1aae70f3602e1a544de70afa08a
  response:
    body:
      string: "[{\"activate\":true,\"balance\":\"0.00085356\",\"walletName\":\"Spot\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Funding\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Cross
        Margin\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Isolated Margin\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"USD\u24C8-M
        Futures\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"COIN-M Futures\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Earn\"},{\"activate\":false,\"balance\":\"0\",\"walletName\":\"Options\"},{\"activate\":false,\"balance\":\"0\",\"walletName\":\"Trading
        Bots\"},{\"activate\":true,\"balance\":\"0\",\"walletName\":\"Copy Trading\"}]"
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - default-src 'self'
      X-SAPI-USED-IP-WEIGHT-1M:
      - '1'
      X-WebKit-CSP:
      - default-src 'self'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://api3.binance.com/api/v3/ticker/price?symbol=BTCUSDC
  response:
    body:
      string: '{"symbol":"BTCUSDC","price":"110668.34000000"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '24'
      x-mbx-used-weight-1m:
      - '24'
      x-mbx-uuid:
      - 565b4110-72c3-45a4-9c52-0cf7881c67da
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/account/fiat
  response:
    body:
      string: '{"data":94.4620682904}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
