interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      KC-API-KEY:
      - DUMMY
      KC-API-KEY-VERSION:
      - '3'
      KC-API-PASSPHRASE:
      - DUMMY
      KC-API-SIGN:
      - DUMMY
      KC-API-TIMESTAMP:
      - DUMMY
    method: GET
    uri: https://api-futures.kucoin.com/api/v1/orders/450247517263708160?order-id=450247517263708160
  response:
    body:
      string: '{"code":"200000","data":{"id":"450247517263708160","symbol":"TAUSDTM","type":"limit","side":"buy","price":"0.07563","size":19,"value":"14.3697","dealValue":"14.3678","dealSize":19,"stp":"","stop":"","stopPriceType":"","stopTriggered":false,"stopPrice":null,"timeInForce":"GTC","postOnly":false,"hidden":false,"iceberg":false,"leverage":"2","forceHold":false,"closeOrder":false,"visibleSize":0,"clientOid":"32e027cc-7596-4a83-ab28-a34767833231","remark":null,"tags":"","isActive":false,"cancelExist":false,"createdAt":1780160575310,"updatedAt":1780160575321,"endAt":1780160575321,"orderTime":1780160575310280471,"settleCurrency":"USDT","marginMode":"ISOLATED","avgDealPrice":"0.07562","positionSide":"BOTH","filledSize":19,"filledValue":"14.3678","status":"done","reduceOnly":false}}'
    headers:
      Content-Type:
      - application/json
      X-RESULT-BIZ-CODE:
      - '200000'
      gw-ratelimit-limit:
      - '2000'
      gw-ratelimit-remaining:
      - '1984'
      gw-ratelimit-reset:
      - '14031'
      x-in-time:
      - 5-1780166691743415
      x-out-time:
      - 5-1780166691746389
    status:
      code: 200
      message: OK
version: 1
