%u-space-between {
  display: flex;
  justify-content: space-between;
}

.p-line-chart {
	margin: $margin-base-horizontal;
	max-width: 50rem;
	padding: $padding-base-vertical $padding-base-horizontal;
  .p-line-chart__box {
    @extend %u-space-between;

		border-radius: $border-radius-large;

		.p-line-chart--left {
			background: $success-color;
			padding: $padding-xs-vertical $padding-xs-horizontal;
		}
		.p-line-chart--right {
			background: $danger-color;
			padding: $padding-xs-vertical $padding-xs-horizontal;
		}
  }

	.p-line-chart--legend {
		@extend %u-space-between;
	}
	
}
