.u-notification--zindex {
  z-index: $zindex-notification;
}

.u-modal--zindex {
  z-index: $zindex-modal;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-center {
  text-align: center;
}

.u-align-baseline {
  align-items: baseline;
}

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-flex-left {
  display: flex;
  margin-right: $margin-base-horizontal;
}

.u-margin-bottom {
  margin-bottom: 2em;
}

.u-text-margin-left {
  margin-bottom: 0.5em;
}

.u-legend-text {
  margin-bottom: 0.5em;
  margin-right: 1em;
  i {
    margin-right: 0.2em;
  }
}

.u-primary-color {
  color: $primary-color;
}

.u-required {
  color: $danger-color;
}

.u-margin-left {
  margin-left: 1.5em;
}

.u-title-btn {
  font-size: 0.58em;
  margin-left: 0.5em;
}

.u-green-badge {
  color: $white-color;
  background-color: $success-color;
  padding: 0.3em;
}

.u-td-bg-color--success {
  background-color: $success-color;
}

.u-td-bg-color--danger {
  background-color: $danger-color;
}

.u-td-bg-color--disabled {
  background-color: $link-disabled-color;
}

.input-group-text {
  padding: 0.2rem 0.5rem;
}

.badge {
  color: $white-color;
}

.u-disable-events {
  pointer-events: none;
}

.u-float-right {
  float: right;
}

.u-float-left {
  float: left;
}