@use '../shared' as *;

// Mixin for generating new styles
@mixin btn-styles($btn-color, $btn-states-color) {
  background-color: $btn-color;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:active:focus,
  &:active:hover,
  &.active:focus,
  &.active:hover,
  .show > &.dropdown-toggle,
  .show > &.dropdown-toggle:focus,
  .show > &.dropdown-toggle:hover {
    background-color: $btn-states-color;
    color: $white-color;
    box-shadow: none;
  }

  &:not([data-action]):hover {
    box-shadow: none;
  }
}

@mixin btn-outline-styles($btn-color, $btn-states-color) {
  background: $transparent-bg;
  border: 2px solid $btn-color !important;
  color: $btn-color;
  @include opacity(1);

  &:hover,
  &:focus,
  &:active,
  &:focus:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $btn-color !important;
    color: $fill-font-color !important;
    border-color: $btn-color !important;
    .caret {
      border-top-color: $fill-font-color !important;
    }
  }

  .caret {
    border-top-color: $white-color !important;
  }

  &.disabled,
  &:disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $transparent-bg !important;
      border-color: $btn-color !important;
    }
  }
}

@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $border) {
  font-size: $font-size;
  border-radius: $border;
  padding: $padding-vertical $padding-horizontal;

  &.btn-simple {
    padding: $padding-vertical - 1 $padding-horizontal - 1;
  }
}

@mixin rotate-180() {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin icon-gradient($color, $bottomColor: #000) {
  background: $color;
  background: -webkit-linear-gradient($color 0%, $bottomColor 80%);
  background: -o-linear-gradient($color 0%, $bottomColor 80%);
  background: -moz-linear-gradient($color 0%, $bottomColor 80%);
  background: linear-gradient($color 0%, $bottomColor 80%);
}

@mixin badge-color($color) {
  border-color: $color;
  background-color: $color;
}
