@use "../variables";
@use "transitions";

@mixin sidebar-color($color) {
  &:after {
    background: $color;
  }
}

@mixin sidebar-active-color($font-color) {
  .nav {
    li {
      &.active > a,
      &.active > a i,
      &.active > a[data-toggle="collapse"],
      &.active > a[data-toggle="collapse"] i,
      &.active
        > a[data-toggle="collapse"]
        ~ div
        > ul
        > li.active
        .sidebar-mini-icon,
      &.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
        color: $font-color;
        opacity: 1;
      }
    }
  }
}

@mixin sidebar-text-color($text-color) {
  .nav {
    li {
      a,
      a i,
      a[data-toggle="collapse"],
      a[data-toggle="collapse"] i,
      a[data-toggle="collapse"] ~ div > ul > li .sidebar-mini-icon,
      a[data-toggle="collapse"] ~ div > ul > li > a {
        color: $text-color;
        opacity: 0.7;
      }

      &:hover:not(.active) > a,
      &:focus:not(.active) > a {
        opacity: 1;
      }
    }
  }

  .logo {
    .simple-text {
      color: $text-color;
    }
    &:after {
      background-color: $text-color;
      opacity: 0.4;
    }
  }

  .user {
    .info a span,
    .nav .sidebar-mini-icon,
    .nav .sidebar-normal {
      color: $text-color !important;
    }
    &:after {
      background-color: $text-color;
      opacity: 0.4;
    }
  }
}

@mixin sidebar-toggle($invert: false) {
  // Sidebar toggle
  .nav-open {
    @include transitions.transition(0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    .main-panel {
      @if $invert {
        @include transitions.transform-translate-x(0);
        width: 100vw;
      } @else {
        @include transitions.transform-translate-x(variables.$navbar-width);
      }
    }

    .sidebar {
      @if $invert {
        @include transitions.transform-translate-x(-(variables.$navbar-width));
      } @else {
        @include transitions.transform-translate-x(0);
      }
    }

    .menu-on-right {
      .main-panel {
        @if $invert {
          @include transitions.transform-translate-x(-(variables.$navbar-width));
        } @else {
          @include transitions.transform-translate-x(variables.$navbar-width);
        }
      }

      .navbar-collapse,
      .sidebar {
        @if $invert {
          @include transitions.transform-translate-x(-(variables.$navbar-width));
        } @else {
          @include transitions.transform-translate-x(0);
        }
      }

      .navbar-translate {
        @if $invert {
          @include transitions.transform-translate-x(-(variables.$navbar-width));
        } @else {
          @include transitions.transform-translate-x(variables.$navbar-width);
        }
      }
    }
  }
}
