node_modules
__pycache__
jsconfig.json
*.md
^\.*
!.dockerignore
!.gitignore
docs/
ecosystem.config.js
mongo_data
mongo_data.old
.DS_Store
*.pyc
api/main/config/*.cfg
api/tests
db.dump
kafka_data
pg_data
!terminal/.env
!.python-version
.coverage
.flake8
mypy.ini
