name: PR checks
on:
  pull_request:

env:
  ACTIONS_RUNNER_DEBUG: false
  SECRET_KEY: test
  ENV: ci
  FRONTEND_DOMAIN: http://localhost
  MONGO_AUTH_USERNAME: root
  MONGO_AUTH_PASSWORD: rootPassXXX
  MONGO_APP_DATABASE: binbot
  MONGO_KAFKA_DATABASE: kafka
  MONGO_AUTH_DATABASE: admin
  MONGO_HOSTNAME: data_db
  MONGO_PORT: 27017
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "postgres"
  POSTGRES_DB: "postgres"

jobs:
  python-tests:
    name: Python code tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432/tcp
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    defaults:
      run:
        working-directory: api
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "./api/.python-version"

      - name: Install the project
        run: |
          uv sync --all-extras --dev
      - name: Run tests
        env:
          POSTGRES_PORT: ${{ job.services.postgres.ports[5432] }}
        run: uv run coverage run -m pytest --vcr-record=none .

  python-linting:
    name: Python code linting
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "./api/.python-version"
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Run linters
        run: |
          uv run ruff check .
          uv run mypy .

  frontend-linting:
    name: React app linting
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terminal
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm ci
      - name: Run linters
        run: npm run lint

  frontend-tests:
    name: React app tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terminal
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test
